/* здесь используйте глобальные переменные */
//Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1440px;

//Цвета
$background-color-primary: #ffffff;
$background-color-secondary: #f2f2f2;
$text-color-primary: #000000;
$text-color-secondary: #444444;
$social-icon-color: #666666;
$color-secondary: #68b738;
$example-color: #f2f2f2;

//Шрифты
$primary-font: "Oswald", sans-serif;
$text-font: "Lato", sans-serif;
