.advantage-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantage-list__item-description {
  font-family: $text-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
