.example-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example-description {
  font-family: $text-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.example__effect-charges {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
