.main-footer {
  background-color: $background-color-secondary;
}

.main-footer-content {
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 37px;

  @media (min-width: $tablet-width) {
    width: 92%;
    min-width: 708px;
    padding: 55px 30px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    min-width: 1440px;
    padding: 66px 30px;
    margin: 0 auto;
  }
}

.main-footer-logo {
  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }
}

.main-footer-logo__text {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}
