.main-container__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 0 41px;
}

.main-container__headline {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

.main-container__form {
  margin: 0 auto;
}
