.products-catalog__list {
  margin: 0 20px 25px 20px;
  margin: 0;
  margin-bottom: 25px;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    margin-bottom: 70px;
    margin: 0 30px 25px;
  }

  @media (min-width: $desktop-width) {
    gap: 63px 80px;
    margin-bottom: 76px;
    margin-left: 90px;
  }
}
