/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable value-list-comma-space-after */
/* stylelint-disable function-url-quotes */
/* stylelint-disable declaration-block-trailing-semicolon */
/* stylelint-disable indentation */
.programs__layout {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.programs__item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.programs__item:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
.programs__item {
  margin-top: 30px;
  padding: 77px 60px 62px 52px;
 }
}

@media (min-width: 1300px) {
.programs__item {
  width: calc(50% - 40px);
  margin-top: 26px;
  padding-top: 47px;
  padding-right: 50px;
  padding-bottom: 61px;
}

.programs__item:nth-child(2) {
  margin-top: 0;
}
}

@media (min-width: 768px) {
.programs__item::after {
  content: "";
  display: block;
  position: static;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #68b738;
  border-radius: 50%;
}
}

@media (min-width: 1300px) {
.programs__item::after {
  display: none;
}
}

@media (min-width: 768px) {
.programs__item--pro::after {
  margin-left: 54px;
}
}

.programs__item::before {
content: "";
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 1
}

@media (min-width: 768px) {
.programs__item::before {
  right: 0;
}
}

@media (min-width: 1300px) {
.programs__item::before {
  right: auto;
}
}

.programs__item--slim::before {
  width: 35px;
  height: 49px;
  margin-top: -3px;
  margin-left: 8px;
  background-image: url(../../img/cat-slim.svg);
  background-size: 100% auto;
}

@media (min-width: 768px) {
.programs__item--slim::before {
  width: 140px;
  height: 196px;
  margin: 2px 92px 0 0
}
}

@media (min-width: 1300px) {
.programs__item--slim::before {
  width: 70px;
  height: 98px;
  margin: -6px 0 0 14px;
}
}

.programs__item--pro::before {
  width: 67px;
  height: 28px;
  margin-top: 11px;
  margin-left: -8px;
  background-image: url(../../img/cat-pro.svg);
  background-size: 100% auto;
}

@media (min-width: 768px) {
.programs__item--pro::before {
  width: 268px;
  height: 112px;
  margin: 58px 28px 0 0;
}
}

@media (min-width: 1300px) {
.programs__item--pro::before {
  width: 134px;
  height: 56px;
  margin-top: 22px;
  margin-left: -18px
}
}

.programs__inner {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 370px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.programs__inner::before {
content: "";
  position: static;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #68b738;
  border-radius: 50%;
}

@media (min-width: 768px) {
.programs__inner::before {
  display: none;
}
}

@media (min-width: 1300px) {
.programs__inner::before {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 64px
}
}

.programs__item-title {
  position: relative;
  margin: 0;
  padding: 6px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: 768px) {
.programs__item-title {
  padding: 0;
  font-size: 36px;
  line-height: 36px;
}
}

@media (min-width: 1300px) {
.programs__item-title {
  padding: 30px 0 34px;
}
}

.programs__item-desc {
width: 100%;
margin: 22px 0;
}

@media (min-width: 768px) {
.programs__item-desc {
  margin: 26px 0 0;
}
}

@media (min-width: 1300px) {
.programs__item-desc {
  margin: 40px 0 0;
}
}

.programs__item-link-block {
  width: 100%;
  font-size: 16px;
  line-height: 1em;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 1px #d9d9d9;
  box-shadow: inset 0 1px #d9d9d9;
}

@media (min-width: 768px) {
.programs__item-link-block {
  margin-top: 55px;
  font-size: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
}

@media (min-width: 1300px) {
.programs__item-link-block {
  margin-top: 32px;
}
}

.programs__item-link {
position: relative;
display: inline-block;
vertical-align: top;
padding-top: 21px;
padding-right: 44px;
padding-bottom: 21px;
color: #111111;
text-decoration: none;
}

@media (min-width: 768px) {
.programs__item-link {
  padding: 0 58px 0 0;
}
}

.programs__item-link:active {
opacity: 0.3;
}

.programs__item-link::after {
content: "";
position: absolute;
display: block;
top: 24px;
right: 9px;
width: 23px;
height: 11px;
background-image: url(../img/icon-right-arrow-verylong.svg);
background-repeat: no-repeat;
background-size: 32px 11px;
background-position: right center;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}

@media (min-width: 768px) {
.programs__item-link::after {
  top: 4px;
}
}

.programs__item-link:hover::after {
right: 0;
width: 32px
}
